body{
    background: #205387;
    font-family: 'inter';
    font-weight: 600;
    margin: 0;
}
input{
    border: 2px solid #9B9A9A;
}
h1{
    font-size: 32px;
    color: #FFFFFF;
}
h2{
    font-size: 32px;
    font-weight: 800;
    color: #205387;
    margin-top: 52px;
}
button{
    width: 500px;
    height: 70px;
    background: #205387;
    color: #FFFFFF;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}
.app{
    display: block;
}
.contents, .user-contents{
    display:flex;
    padding-top: 90px;
    justify-content: center;
}
.user-contents{
    background: #FFFFFF;
}

/* navbar */
.dropdown{
    width: 60px;
    margin-top: -10px;
    margin-right: 20px;
}
.dropdown p{
    background: #D9D9D9;
    color: black;
    cursor: pointer;
}
.dropdown li{
    background: #D9D9D9;
    padding: 10px;
    margin-right: 20px;

}
#drop-btn{
    width: 80px;
    background: transparent;
    max-height: 60px;
    border:none;
    
}
.nav-img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
nav{
    background: #D9D9D9;
    height: 60px;
    margin-top:0;
    /* position: absolute; */
    width: 100%;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: flex-start;
}
nav h1{
    color: #205387;
    font-size: 24px;
    font-weight: 800;
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: 10px;
    }
nav h2{
    color: #7C7979;
    font-family: Inter;
    font-size: 20px;
    margin-left:auto;
    margin-right: 10px;
    margin-bottom: 10px;

    margin-top: auto;
}
.bg-custom-1 {
    background-color: #85144b;
  }
  
  .bg-custom-2 {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  }
  


.form{
    background: #FFFFFF;
    border-radius: 20px;
    max-width: 570px;
    padding: 25px;

    /* left */
}

.login input{
    height: 70px;
    width: 500px;
    border-radius: 5px;
}
.login-text{
    color: #DFDCDC;
}
.btn-login{
    margin-top:70px;
}
.signUp input, .editProfile input{
    width: 500px;
    height: 54px;
    border-radius: 5px;

}
a{
    cursor: pointer;
    font-weight: 800;
    color: #F90;
}
/* error-validation */
.input-error{
    border: 2px solid rgb(248, 89, 89);
}
.error{
    color: rgb(250, 32, 32);
    font-size: 15px;
    margin-left:10px;
}
/* profile */
.profile{
    margin-top: 80px;
}
.profile-header{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: flex-start;
}
.profile-container{
    padding: 25px;
    max-width: 700px;
    background: #FFFFFF;
}
.profile-header h1{
    color: black;
    
}
.profile-name-text{
    color: #7C7979;
    font-size: 40px;
}
.profile-pic{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

/* copy */
.image-upload{
    padding: 3px;
    justify-content: center;
    text-align: center;
    background: #9B9A9A;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    border: solid 1px black;
    margin-left: 160px;
    margin-top: 140px; 
}
.image-upload i{
    margin-top: 5px;
}
.image-upload > input
{
    display: none;
}
.profile-info{
    max-width: 500px;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: flex-start;
    margin-top: 100px;
}
.info{
    text-align: right;
    margin-left: auto;
}
.greet h1{
    margin-top: 50px;
}
.greet{
    margin-left:20px;
}
.gender-select{
    height:56px;
    border: none;
    overflow: hidden;
  }
  .gender-select::-moz-focus-inner {
    border: 0;
   } 
  .gender-select:focus {
    outline: none;
  } 
  .gender-select option{
    width: 154px;
    height: 32px;
    padding: 10px 0;
    font-size: 20px;
    text-align: center;
    margin-right: 20px;
    display: inline-block;
    cursor: pointer;
    border: 2px solid #9B9A9A;
    border-radius: 5px;
    color:#9B9A9A;
  }
  /* signup */
  .country-code{
    max-width: 125px;
    margin-right:20px;
    text-align:center;
  }
  #mobile_number{
    width: 356px;
  }
/* footer */
.footer{
    color: #606060;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: flex-start;
    gap:20px;
}
.contents-footer{
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    max-width: 570px;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: flex-start;
    gap:20px;
}
.about{
    margin-left: auto;
}
/* SuccessMessage */
.SuccessMessage{
    max-width:570px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align:center;
    padding: 40px;
}
.SuccessMessage h1{
    color: black;
}
.SuccessMessage i{
    color:rgb(43, 211, 43);
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 80px;
}